body{
  width:100%;
  margin: 0;
    
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  
  background-color:#ffffff;
}

.container{
  margin: 0 auto;
  //padding: 0 20%;
}

.clearfix{
  content:"";
  display: table;
  clear: both;
}

.slider{
  min-height:530px;
  
  background: url(../img/slider.jpg);
  background-size: 100% 100%;
}

.top_nav{
  padding-top:1%;
  margin-bottom: 180px;
  
  
}

.logo{
  float:left;  
  margin-right:200px;
}

.navigation{
  float:right;
}

.navigation a{
  padding:10px 10px;
  
  text-transform: uppercase;
  font-weight: 700;
  margin-right:20px;
  
  color:#ffffff;
  text-decoration:none;
}

.user_basket{
  position: absolute;
  top:20px;
  right:10%;
  
  width:26px;
  height:26px;
  
  font-size: 0;
  background-color: #fff;
  border: 0;
  outline: none;
  background: url(../img/basket_icon.png) no-repeat;
}

.navigation li{
  display: inline-block;
}

h2{
  margin:0;
  margin-left:45px;
  
  color:#ffffff;
  font-size:70px;
  line-height: 70px;
  font-weight:700;
  text-transform: uppercase;
}

.index_page p{
  margin-top:5px;
  margin-bottom: 15px;
  margin-left: 13%;
  
  font-size:28px;
  line-height: 28px;
}

.index_page span{
  color:#fcff19
}

.index_page p{
  color:#ffffff;
}

.index_page a{
  margin-left: 45%;
  
  text-decoration:none;
  background-color:#000000;
  color:#fcff19;
}

.btn{
  display: inline-block;
    margin-top: 2px;
    padding: 8px 15px;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    font-family: "Roboto","Arial",sans-serif;
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #b7b7b7;
    border: none;
    border-radius: 3px;
    cursor: pointer
}
.btn:hover {
    background-color: #4a4a4a
}
.btn:active {
    background-color: #000000;
    color: #fcff19;
    box-shadow: inset 0 2px 3px rgba(255,255,255,.5)
}

.left{
  float:left;
  position: absolute;
  top:270px;
  width: 58px;
  height: 58px;
  
  font-size: 0;
  background-color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  
  background: url(../img/left_button_off.png);
}

.right{
  float:right;
  position: absolute;
  right:0;
  top:270px;
  
  width: 58px;
  height: 58px;
  
  font-size: 0;
  background-color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  
  background: url(../img/right_button_off.png);
  
}

.left:hover{
  background: url(../img/left_button_on.png);
  
}

.right:hover{
  background: url(../img/right_button_on.png);
  
}
header::after{
  position: absolute;
  width:66px;
  height: 77px;
  content: "";
  
  top:500px;
  left:50%;
  background: url(../img/scroll_icon_link.png);
  
}

h3{
  margin:40px auto;
  margin-top:0;
  text-align: center;
  
  font-size:28px;
  line-height:28px;
  font-weight:700;
}

.popular_items{
  padding: 4% 0;
  
  
}

.categories{
  padding-top:8%;
  padding-bottom: 12%;
  
  background: url(../img/categories_bg.png);
}

.categories_item{
  display: block;
  float: left;
  
  width:260px;
  min-height:210px;
  margin-right: 20px;
}

.categories_item:nth-child(1n){
  background: url(../img/categories_photo_02.png);
  
}
.categories_item:nth-child(2n){
  background: url(../img/categories_photo_01.png);
  
}

.categories_item:last-child{
  margin-right: 0;
  
  background: url(../img/categories_photo_03.png);
 
}

.item{
  margin-left:1%;
  display: inline-block;
  
  position: relative;
}

.contact_us_back{
  background: url(../img/contact_us_bg.png);
  padding-bottom: 5%;
  
}
.contact_us{
  width:40%;
  padding-top: 2%;
  
}

.contact_us p{
  padding-left:13%;
  margin:8% 0;
}

.contact_us input{
  width:46%;
  
  padding-top:2%;
  padding-left: 2%;
  padding-bottom: 2%;
  border-radius: 3px;
}

.contact_us input:nth-child(2n){
  margin-left:0;
  margin-right:0%;
}

.contact_us input:nth-child(3){
  width:96%;
  margin-right:0%;
  margin-top:1%;
  
}

.contact_us textarea{
  width:95%;
  margin-top:1%;
  margin-bottom: 1%;
  
  padding-top:2%;
  padding-left: 3%;
  border-radius: 3px;
  
  font-size:16px;
  
}

.contact_us .btn{
  width:99%;
  padding-top:2%;
  padding-bottom: 2%;
}


.footer_menu{
  width:100%;
  padding:2px 0;
  //min-height:10%;
  
  color:#000000;
  background: #fcff19;
}


.footer_menu a{
  color: #000000;
}

h4{
  margin-top:25%;
  margin-bottom: 4%;
  text-align: center;
  color:#fcff19;
}

.categories_item p{
  text-align: center;
  margin:0;
  
  color:#ffffff;
}

.categories_item a{
  display: none;
  
}

.categories_item:hover a{
  display:block;
  
  
  margin: 2% 25%;
  background-color: transparent;
  border:2px solid #ffffff;
}

.option{
  margin-left: 25%;
  padding:5px 15px;
  
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}


.item_info{
  display: none;
}

.item_info table{
  border:0;
  
}

.option:hover+.item_info{
  display: block;
  
  width:250px;
  min-height: 200px;
  position: absolute;
  //left: 80px;
  top:30px;
  
  
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px dotted #b7b7b7;
  border-radius: 10px;
}

.popular_items .btn{
  margin:0;
  padding: 7px 25px;
}





/*div, a, header, footer, p{
  outline: 1px solid red;
}*/




